.custom-button {
  margin: 0 5px;

  button {
    display: flex;
    font-size: 13px;
    border: none;
    padding: 12px 18px;
    border-radius: 3px;
    letter-spacing: 1px;

    p {
      margin: 0 0 0 7px;
    }

    img {
      align-self: normal;
    }

    &:focus {
      background: #163250;
      color: #FFF;
    }
  }
}

.selected {
  background: #163250 !important;
  color: #FFF;
}
