<div class="dashboard">
  <div class="row action-feature">
    <div class="col-md-6 buttons">
      <app-button
        (click)="onButtonClicked(0)"
        [selectedButton]="buttonClicked[0]"
        [buttonName]="'SAVED LISTS'"
        [imageSrc]="'list'"
      ></app-button>
      <app-button
        (click)="onButtonClicked(1)"
        [selectedButton]="buttonClicked[1]"
        [buttonName]="'SAVED FILTERS'"
        [imageSrc]="'filter'"
      ></app-button>
      <app-button
        (click)="onButtonClicked(2)"
        [selectedButton]="buttonClicked[2]"
        [buttonName]="'SEARCH HISTORY'"
        [imageSrc]="'history'"
      ></app-button>
    </div>
    <div class="col-md-6 no-gutters">
      <app-search-board
        (searchFilter)="getSearchKeyword($event)"
      ></app-search-board>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 no-gutters">
      <app-table
        [tableData]="dataValues$ | async"
        (detailsEvent)="getDetailsEvent($event)"
        [searchString]="searchKeyword"
      ></app-table>
    </div>
    <div class="col-md-3 no-gutters">
      <app-description
        [industryDetails]="selectedIndustryDetails"
      ></app-description>
    </div>
  </div>
</div>