.description {
  background: #FFF;
  padding: 20px 15px;
  height: 80vh;
  overflow: auto;
}

.no-desc {
  width: 100%;
  background: #ECECEC;
  font-size: 12px;
  padding: 4%;

  button {
    color: #265082;
    border: none;
    outline: none;
    background: transparent;
  }
}

.desc-list {
  width: 100%;
  margin: 25px 5px;

  p {
    font-size: 13px;
    color: #265082;
    padding: 5px 0;
    margin: 0;
  }
}
